.slide__butthead
{
	background-image: url("sign_theme_batman.png");
	background-position: center bottom;
	background-size: auto 100%; background-repeat: no-repeat;
	
	width: 100%; height: 130px;	
	margin-bottom: 40px;
}