.tripod-image
{
	background-image: url(bem_3parts.svg);
	background-repeat: no-repeat;
	background-position: center top;
	-webkit-background-size: auto 100%;	
	background-size: auto 100%;	
	width: 100%; height: 400px; max-height: 40vh;
}