.text-item
{
	font-size: 29px; position: relative; 
	margin:20px 0 20px 40px;
}
.text-item:before
{
	content: ''; 
	position: absolute; top:10px; left:-40px;
	width: 15px; height: 15px;
	border-radius: 10px;
	background-color: black;
}