.joystick__step-down
{
	width: 100%; height: 50%;
	background-image: url('galka-down.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 64% 100%;
	opacity: 0.1;
}
.joystick__step-down:hover
{
	opacity: 1; cursor: pointer;
}