.slide__header
{
	height: 80px; width: 100%;
	text-align: left;
	font-size: 38px; font-weight: bold;
	margin-bottom: 17px;
}
.slide__header_order_first-slide
{
	font-size: 77px; text-align: center; margin-bottom: 35px;
}