.slide
{
	width: 100%; min-height: 98vh;
	box-shadow: 0 0 7px black;	
	margin:1vh auto 1vh auto;
	background-color: #F2F2F2;
	font-weight: 300;
	font-family: "Lato",sans-serif;
	padding: 6vh; box-sizing:border-box; 
	position: relative;
}