.hat
{
	background-image: url(gray_hat.png);
	background-repeat: no-repeat;
	background-position: center top;
	-webkit-background-size: auto 100%;	
	background-size: 100% auto;	
	width: 100%; height: 400px; max-height: 40vh;
}