.text-item-sub
{
	font-size: 29px; position: relative; 
	margin:10px 0 20px 75px;
}
.text-item-sub:before{
	content: ''; 
	position: absolute; top:10px; left:-30px;
	width: 10px; height: 4px;	
	background-color: black;
}